import(R.matlab)
import(reshape2)
import(abind)
import(ggplot2)
import(Resonance)
import(R3)
import(R.cache)
importFrom(Rcpp, evalCpp)
import(jsonlite)
import(abind)
import(zoo)
import(stats)
import(plyr)
import(h2o)
exportPattern("^.+")
